## .NET / Visual Studio
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Entity Framework
*.mdf
*.ldf
*.ndf

## Configuración local (NO subir cadenas de conexión reales)
appsettings.Development.json
appsettings.*.Local.json
*.env

## User-specific files
*.rsuser
*.dbmdl
*.dbproj.schemaview

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

## Rider / JetBrains
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
src\SistemaBuenCorte.Web\login-react-ts\node_modules\
src/SistemaBuenCorte.Web/login-react-ts/node_modules/